/* default mobile-first: mobile M , 425px */

@media screen and (min-width: 426px){
    body{
        background-color: red;
    }

    .container{
        max-width: 700px;
    }

    .row{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .get-demo .card:first-child{
        width: calc(100% / 3 * 2 - 30px);
    }

    .get-demo .card{
        width: calc(100% / 3 - 30px);
    }

    .planning .planning1-img{
        height: 500px;
    }

    .planning .planning2-img{
        height: 400px;
    }

    .partners .card{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .partners .card .partners-card-text{
        max-width: 60%;
        text-align: left;
        margin-left: 30px;
    }
}

@media screen and (min-width: 769px){
    body{
        background-color: green;
    }

    .container{
        max-width: 1100px;
    }

    nav > ul{
        display: flex;
    }
    
    nav > i.fa-bars{
        display: none;
    }

    .get-demo .card:first-child .get-demo-text{
        max-width: 50%;
    }

    .get-demo .card:first-child{
        min-height: 0;
    }

    .get-demo-img{
        height: 250px;
        position: absolute;
        left: 75%;
        bottom: 0;
    }

    .planning .row{
        flex-direction: row;
        align-items: flex-end;
    }

    .planning-text{
        width: calc(100% / 2 - 30px);
    }

    .planning-text p:last-child{
        margin-bottom: 0px;
    }

    .planning .row .card{
        width: calc(100% / 2 - 30px);
    }
}