*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

:root{
    --blue: #0084fd;
    --azure: #b5ddff;
    --purple: #9792e4;
    --yellow: #fdc15f;
    --darkgray: #333333;
}

body{
    padding-top: 70px;
}

ul{
    list-style: none;
}

img{
    max-height: 100%;
}

h4{
    font-size: 1.3rem;
}

/* header */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--blue);
    color: white;
    z-index: 1;
}

.navbar{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: none;
    gap: 30px;
    align-items: center;
}

nav > i{
    font-size: 1.5rem;
}

nav a{
    text-decoration: none;
    color: white;
}

p{
    line-height: 30px;
}

.card > *{
    margin-bottom: 20px;
}

.card > *:last-child{
    margin-bottom: 0px;
}

section{
    padding: 40px 0;
}

.row{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card{
    border-radius: 20px;
}

/* main */

    /* ? section get-demo */

.get-demo-text > *{
    margin-bottom: 20px;
}

.get-demo-img{
    height: 250px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.get-demo .card{
    background-color: var(--azure);
    padding: 35px;
    text-align: center;
}

.get-demo .card:first-child{
    padding: 35px 35px 0px 35px;
    text-align: left;
    position: relative;
    min-height: 600px;
}

.get-demo h4, .get-demo i{
    color: var(--blue);
}

.get-demo button{
    background-color: var(--blue);
}

.get-demo button i{
    color: white;
}

/* utils */

.container{
    max-width: 320px;
    margin: 0 auto;
}

.btn{
    border-color: transparent;
    border-radius: 25px;
    padding: 5px 10px;
    font-weight: 500;
}

.btn.btn-big{
    padding: 7px 40px;
    color: white;
    letter-spacing: 3px;
}