*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

:root{
    --blue: #0084fd;
    --azure: #b5ddff;
    --purple: #9792e4;
    --yellow: #fdc15f;
    --darkgray: #333333;
}

body{
    padding-top: 70px;
}

ul{
    list-style: none;
}

img{
    max-height: 100%;
    max-width: 100%;
}

h4{
    font-size: 1.3rem;
}

h3{
    font-size: 2.2rem;
}

h2{
    font-size: 2.5rem;
}

.card > *{
    margin-bottom: 20px;
}

.card > *:last-child{
    margin-bottom: 0px;
}

section{
    padding: 80px 0;
}

.row{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card{
    border-radius: 20px;
    padding: 35px;
}

/* header */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--blue);
    color: white;
    z-index: 1;
}

.navbar{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: none;
    gap: 30px;
    align-items: center;
}

nav > i{
    font-size: 1.5rem;
}

nav a{
    text-decoration: none;
    color: white;
}

p{
    line-height: 30px;
}

/* main */

    /* ? section get-demo */

.get-demo-text > *{
    margin-bottom: 20px;
}

.get-demo-img{
    height: 250px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.get-demo .card{
    background-color: var(--azure);
    text-align: center;
}

.get-demo .card:first-child{
    padding: 35px 35px 0px 35px;
    text-align: left;
    position: relative;
    min-height: 600px;
}

.get-demo h4, .get-demo i{
    color: var(--blue);
}

.get-demo button{
    background-color: var(--blue);
}

.get-demo button i{
    color: white;
}

    /* ? section planning */

.planning{
    background-color: var(--purple);
}

.planning .card{
    width: 100%;
}

.planning-text{
    color: white;
}

.planning-text > *{
    margin-bottom: 50px;
}

.planning .card p{
    font-style: oblique;
    font-weight: 500;
}

.planning .card:last-child{
    background-color: #fff;
    text-align: center;
}

.planning .planning1-img{
    height: 300px;
    text-align: center;
    margin-bottom: 150px;
}

.planning .planning2-img{
    height: 250px;
}

    /* ? section partners */

.partners{
    text-align: center;
}

.partners h3{
    color: var(--purple);
}

.partners .row{
    flex-direction: column;
    align-items: center;
}

.partner-text > h4{
    color: gray;
    font-weight: 400;
}

.partner-text > *{
    margin-bottom: 40px;
}

.partners .card{
    border-radius: 40px;
    background-color: var(--purple);
    color: white;
    padding: 40px 15px;
    max-width: 800px;
}

.card .partners-img img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

    /* ? section benefits */

.benefits{
    background-color: var(--purple)
}

.benefits h2{
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.benefits .card{
    background-color: #fff;
}

.benefits h3, .benefits-card-number{
    color: var(--purple);
}

.benefits-card-number{
    font-size: 4.5rem;
    font-weight: 600;
}

.benefits button.btn.btn-big{
    background-color: var(--purple);
}

/* utils */

.container{
    max-width: 320px;
    margin: 0 auto;
}

.btn{
    border-color: transparent;
    border-radius: 25px;
    padding: 5px 10px;
    font-weight: 500;
}

.btn.btn-big{
    padding: 7px 40px;
    color: white;
    letter-spacing: 3px;
}

.anchor-arrow{
    background-color: var(--purple);
    border-radius: 50%;
    padding: 15px 20px;
}

.anchor-arrow a{
    font-size: 2rem;
}

.anchor-arrow a i{
    color: var(--darkgray);
}

.margin-bot-50{
    margin-bottom: 50px;
}